* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 320px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card h1 {
  font-size: 23px;
  color: hsl(218, 44%, 22%);
  margin-bottom: 18px;
}

.card p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  line-height: 1.4;
  margin-bottom: 12px;
}
